<section class="policy-wrapper">
    <div class="policies-container">
          <h1 class="title">OUR POLICIES</h1>

  <!-- Booking Policies -->
  <details>
    <summary>BOOKING POLICIES</summary>
    <div class="policy-content">
      <p>A deposit of 30% is required for all appointments to secure your booking time. Please note the deposit is NON-REFUNDABLE if you
      do not show up to an appointment or cancel/reschedule within 24 hours. Scheduled treatments are reserved especially for you.<br><br>
      We understand that situations arise in which you must cancel your appointment. However, we require 24 hrs advance notice in
      order to cancel/reschedule any service with no charge (This includes an appointment that was made less than 24 hrs prior).
      If your appointment is not canceled within this notification period, your appointment is considered confirmed. Any changes/cancellations
      made after the 24-hours window are subject to forfeiting the 30% booking deposit. If you are unhappy with the results of your
      appointment, we encourage you to communicate this with us, as we endeavor to give you the best results as possible.
      No change-of-mind refunds are offered. Your payment covers the products used and the time and experience of your technician.<br><br></p>

      <p><strong>Late arrival, </strong>your session may be shortened in order to accommodate others whose appointments follow yours. Regardless of the
      length of time already given. you will be responsible for the full session. Please note that we have a 15-minute late policy.
      Arriving 15 minutes after your appointment without notice will be considered a no-show and subject to forfeit the 30% booking deposit.
      As a courtesy and consideration to your technician and others clients.<br><br>
      Please plan accordingly and be on time.<br><br>
      <strong>Please note:</strong><br></p>
      <ul>
        <li>There will be 1.5% fee applied to card payments.</li>
        <li>There will be 10% surcharge on Sundays and Public holidays.</li>
      </ul>
    </div>
  </details>

  <!-- Eyelash Extensions Policies -->
  <details>
    <summary>EYELASH EXTENSIONS POLICIES</summary>
    <div class="policy-content">
      <h3>Refill Policy</h3>
      <ul>
        <li>We strongly recommend booking your next appointment your before you leave the salon. This guarantees your preferred booking time.</li>
        <li>We recommend visits every 2 week for refills.</li>
        <li>If you have lash left less than 20% will require a new set.</li>
        <li>If you book a refill more than currently set will require an extra charge between a set.</li>
        <li>Bookings made outside of maximum refill for each set will require a new set.</li>
        <li>Online refill bookings are reserved for existing clients only. Please advise us when booking your appointment.</li>
        <li>We do not work on or refill other technicians work, and reserve the right to refuse refill in favour of removal for a new set.</li>
      </ul>

      <h3>Guarantee Policy</h3>
      <p>LASHMAP BEAUTY STUDIO TAKES GREAT PRIDE IN THE WORK WE DO! If you have any concerns or experience extreme fall-out with the service you received,
         let us know WITHIN the first 3 days after your appointment. We can repair your lash free of charge.<br><br>To honor this agreement all aftercare instructions must be met.
         This includes using the recommended product for lash extensions.<br><br>Unfortunately, this policy does not apply to change of mind or change in style post treatment.<br><br> 
         This policy we are proud to offer this.</p>
    </div>
  </details>

  
</div>
<div class="cta-area">
    <a class="btn-primary" (click)="goBack()">← Go Back</a>
</div>

</section>

