<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-column footer-logo-col">
      <img src="/assets/icons/logo-lashmapbeautystudio.png" alt="RS BusinessTech Logo" class="footer-logo" />
      <p>A place where every lash meets luxury</p>

      <div class="social-icons">
        <a href="https://wa.me/+61411158881" target="_blank" aria-label="WhatsApp">
          <img src="/assets/icons/whatsapp.svg" alt="WhatsApp" />
        </a>
        <a href="https://www.facebook.com/share/1Cae4GEhrv/" target="_blank" aria-label="Facebook">
          <img src="/assets/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/rsbusinesstech?igsh=MW1pdTBiNHd3bjAxbA==E" target="_blank" aria-label="Instagram">
          <img src="/assets/icons/instagram.svg" alt="Instagram" />
        </a>
        <a href="https://www.tiktok.com/@rs.business.tech?_t=ZS-8yDYRIOnBUW&_r=1" target="_blank" aria-label="Tiktok">
          <img src="/assets/icons/tiktok.svg" alt="Tiktok" />
        </a>
        <a href="mailto:rsbusinesstech@gmail.com" target="_blank" aria-label="Gmail">
          <img src="/assets/icons/gmail.png" alt="Gmail" />
        </a>
      </div>
    </div>

    <div class="footer-column footer-links-col">
      <h4>Explore Our Website</h4>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/products">Products</a>
      <a href="/services">Services</a>
      <a href="/bookAppointment">Book Appointment</a>
      <a href="/promotions">Promotions</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="footer-column footer-services-col">
      <h4>OUR SERVICES</h4>
      <div class="service-item">Brand Campaigns</div>
      <div class="service-item">Audio & Visual Production</div>
      <div class="service-item">Event Management</div>
      <div class="service-item">Trade Marketing</div>
      <div class="service-item">Brand Activations</div>
      <div class="service-item">Corporate Giveaways</div>
      <div class="service-item">Digital Marketing</div>
      <div class="service-item">Talents and Manpower</div>
      <div class="service-item">Booth Fabrications</div>
      <div class="service-item">Technical Requirements</div>
      <div class="service-item">Out-of-Home</div>
    </div>

    <div class="footer-column footer-locations-col">
      <h4>Address</h4>
      <a href="https://www.google.com/maps?q=Melbourne+Australia" target="_blank" rel="noopener noreferrer">📍View on Google Map</a>
      <a href="mailto:rsbusinesstech@gmail.com">✉️Send Email</a>
      <a href="tel:+601114278964">📞Call now</a>
    </div>
  </div>

  <p class="footer-bottom">© 2025 Lashmap Beauty Studio (All rights are reserved).</p>
</footer>
